.env
logs/*.log
logs/*.log.*
!logs/.gitkeep
__pycache__/
*.pyc
.pytest_cache/
src/**/__pycache__/
data/output/
!data/output/saida/.gitkeep
*.egg-info/
dist/
build/
.eggs/
/venv
data/input/
ABNT NBR 12721-2006.pdf
